:host {
  background-color: #FCEDE9 !important;
    position: relative;
    overflow: hidden;
    padding: 5px 5px 5px 5px !important;
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 5px !important;
    color: #111111 !important;
    pointer-events: all;
    cursor: pointer;
    white-space: nowrap;
    border: 1px solid #FFBC9F;
    // display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
  }

  .wrap{
    display: flex;
    gap: 10px;
  }

  .titleClass{
    width: fit-content !important;
    padding-right: 20px;
    font-weight: 400!important;
    font-size: 11.5px;
    margin-top: 0px !important;
  }
  
  img{
    width: 20px;
    height: 20px;
  }

  .height{
    height: 100%;
  }

