<div class="loader flex-col gap1-5" *ngIf="loading">
    <div class="cube-loader">
        <div class="cube cube1"></div>
        <div class="cube cube2"></div>
        <div class="cube cube3"></div>
        <div class="cube cube4"></div>
    </div>
</div>

<div class="main-body flex-start">
    <div class="body-content flex flex-col gap1-5 mobile-off">
        <div class="body-head w-full flex flex-center flex-space-between">
            <div></div>
            <div class="btn-wrap flex gap2">
                <button class="rounded-md bg-blue-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-blue-600" *ngIf="role == 'admin' || role == 'superadmin'" (click)="openModal('addProductModal')" >Add Product</button>
            </div>
        </div>
        <div class="body-stats w-full flex flex-center gap2 px-5 relative">
            <div class="w-full justify-content-center flex gap1 whitespace-nowrap">
                <h2 class="text-neutral-100">Total Active Products &nbsp; :</h2>
                <h2 class="text-neutral-100">{{totalActiveProducts}}</h2>
            </div>
            <div class="w-full justify-content-center flex gap1 whitespace-nowrap">
                <h2 class="text-neutral-100">Total Products &nbsp; :</h2>
                <h2 class="text-neutral-100">{{totalProducts}}</h2>
            </div>
        </div>
        <div class="body-options w-full flex align-items-center flex-space-between">
            <input id="search-bar" [formControl]="search" (change)="this.getProducts(true, false)" placeholder="Search" class="ml-1 block w-25 h-75 px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ng-untouched ng-pristine ng-invalid" ng-reflect-name="phnNumber">
            <div class="btn-wrap flex flex-center gap1-5">
                <div class="btn-wrap2">
                    <button (click)="printPdf()" [disabled]="displayData.length ==0" class="rounded-md bg-red-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-600"><i class="bi bi-file-earmark-arrow-down"></i> &nbsp; PDF</button>
                </div>
                <div class="btn-wrap2">
                    <button (click)="printExcel()" [disabled]="displayData.length ==0" class="rounded-md bg-emerald-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-emerald-600"><i class="bi bi-file-earmark-arrow-down"></i> &nbsp; Excel</button>
                </div>
                <div ngbDropdown class="btn-wrap2 flex flex-center" placement="bottom-end" container="body" #prodfilter="ngbDropdown">
                    <button ngbDropdownToggle class="rounded-md px-2.5 py-1.5 text-sm font-semibold text-gray-900 bg-slate-100 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" > <i class="bi bi-filter"></i> &nbsp; Filter</button>
                    <div ngbDropdownMenu class="custom-dropdown mt-2 divide-y divide-gray-100 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="form-check px-3 py-2">
                            <p class="text-sm text-gray-700 font-medium mb-1 ml--1">Product Type</p>
                            <input type="checkbox" class="form-check-input" value="finished" [checked]="productType.value === 'finished'"  (change)="onCheckboxChange('finished', $event)" id="prod-finished" />
                            <label class="ml-1 block text-sm text-gray-700" for="prod-finished">Finished</label>
                            <input type="checkbox" class="form-check-input" value="estimated" [checked]="productType.value === 'estimated'"  (change)="onCheckboxChange('estimated', $event)" id="prod-estimated" />
                            <label class="ml-1 block text-sm text-gray-700" for="prod-estimated">Estimated</label>
                        </div>
                        <div class="form-check px-3 py-2">
                            <p class="text-sm text-gray-700 font-medium mb-1 ml--1">Status</p>
                            <input type="checkbox" class="form-check-input" value="active" [checked]="status.value === 'active'"  (change)="onCheckboxChange('active', $event)" id="status-active" />
                            <label class="ml-1 block text-sm text-gray-700" for="status-active">Active</label>
                            <input type="checkbox" class="form-check-input" value="inactive" [checked]="status.value === 'inactive'"  (change)="onCheckboxChange('inactive', $event)" id="status-inactive" />
                            <label class="ml-1 block text-sm text-gray-700" for="status-inactive">Inactive</label>
                        </div>
                        <div class="py-2 px-3">
                            <button class="btn btn-primary text-sm" (click)="getProducts(true, false); prodfilter.close()" >Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-table w-full table-responsive">
            <table *ngIf="displayData?.length > 0" class="w-full text-left table-auto min-w-max overflow-auto">
                <thead>
                    <tr>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Product Name
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Alias Name
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Barcode
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Product Type
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            MRP
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                        Status
                        </th>
                        <th class="py-3 px-5 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let display of displayData">
                    <td class="py-2 px-2 border-b border-slate-200">
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold text-slate-700">
                                {{display.productName}}
                            </p>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <p class="text-xs text-slate-500">
                            {{display.aliasName}}
                        </p>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <p class="text-xs text-slate-500">
                            {{display.barcode}}
                        </p>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <div class="w-max">
                            <div *ngIf="display.productType == 'finished'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-violet-700 uppercase rounded-md select-none whitespace-nowrap bg-violet-500/20">
                                <span class="">finished</span>
                            </div>
                            <div *ngIf="display.productType == 'estimated'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-amber-700 uppercase rounded-md select-none whitespace-nowrap bg-amber-500/20">
                                <span class="">estimated</span>
                            </div>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <p class="text-xs text-slate-500">
                            ₹ &nbsp;{{display.mrp}}
                        </p>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <div class="w-max">
                            <div *ngIf="display.status == 'active'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-green-700 uppercase rounded-md select-none whitespace-nowrap bg-green-500/20">
                                <span class="">active</span>
                            </div>
                            <div *ngIf="display.status == 'inactive'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-red-700 uppercase rounded-md select-none whitespace-nowrap bg-red-500/20">
                                <span class="">inactive</span>
                            </div>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <a *ngIf="role == 'admin' || role == 'superadmin'" (click)="openEditModal(display)" class="text-blue-700 text-xs font-semibold">Edit</a>
                        <a *ngIf="role == 'admin' || role == 'superadmin'" (click)="openDeleteModal(display)" class="ml-2.5 text-red-700 text-xs font-semibold">Delete</a>
                        <a (click)="openViewModal(display)" class="ml-2.5 text-blue-700 text-xs font-semibold">View</a>
                    </td>
                    </tr>
                </tbody>
                </table>

            <div *ngIf="displayData?.length == 0" class="not-found w-full h-full">
                <div class="container flex items-center px-6 py-12 mx-auto">
                    <div class="flex flex-col items-center max-w-sm mx-auto text-center">
                        <h1 class="mt-3 text-xl font-semibold text-gray-800 md:text-3xl">No Products data found</h1>
                        <p class="mt-4 text-gray-500 dark:text-gray-400">The filters or search applied could not find any data.</p>
            
                        <div class="flex items-center w-full mt-6 gap-x-3 shrink-0 sm:w-auto">
                            <button (click)="getProducts(true, true)" class="w-1/2 px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
                                Remove Filters
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-footer w-full">
            <ngb-pagination class="flex flex-center paginator" *ngIf="displayData?.length != 0" [(page)]="page" [pageSize]="limit"
                [collectionSize]="collectionSize" (pageChange)="getProducts(false, false)"/>
        </div>
    </div>
    <div class="body-content flex flex-col gap1-5 mobile-on">
        <div class="body-head w-full flex flex-center">
            <input id="search-bar" [formControl]="search" (change)="this.getProducts(true, false)" placeholder="Search" class="ml-1 block w-100 h-75 px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ng-untouched ng-pristine ng-invalid" ng-reflect-name="search">
        </div>
        <div class="body-stats w-full flex flex-center gap2 px-5 relative mobile-off">
            <div class="w-full justify-content-center flex gap1 whitespace-nowrap">
                <h2 class="text-neutral-100">Total Active Products &nbsp; :</h2>
                <h2 class="text-neutral-100">{{totalActiveProducts}}</h2>
            </div>
            <div class="w-full justify-content-center flex gap1 whitespace-nowrap">
                <h2 class="text-neutral-100">Total Products &nbsp; :</h2>
                <h2 class="text-neutral-100">{{totalProducts}}</h2>
            </div>
        </div>
        <div class="body-options w-full flex align-items-center flex-space-between">
            
            <div class="btn-wrap flex flex-center gap1-5">
                <div class="btn-wraps">
                    <div class="btn-wrap2">
                        <button (click)="printPdf()" [disabled]="displayData.length ==0" class="rounded-md bg-red-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-red-600"><i class="bi bi-file-earmark-arrow-down"></i> &nbsp; PDF</button>
                    </div>
                    <div class="btn-wrap2">
                        <button (click)="printExcel()" [disabled]="displayData.length ==0" class="rounded-md bg-emerald-500 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-emerald-600"><i class="bi bi-file-earmark-arrow-down"></i> &nbsp; Excel</button>
                    </div>
                </div>
                
                <div ngbDropdown class="btn-wrap2 flex flex-center" placement="bottom-end" container="body" #prodfilter="ngbDropdown">
                    <button ngbDropdownToggle class="rounded-md px-2.5 py-1.5 text-sm font-semibold text-gray-900 bg-slate-100 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" > <i class="bi bi-filter"></i> &nbsp; Filter</button>
                    <div ngbDropdownMenu class="custom-dropdown mt-2 divide-y divide-gray-100 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
                        <div class="form-check px-3 py-2">
                            <p class="text-sm text-gray-700 font-medium mb-1 ml--1">Product Type</p>
                            <input type="checkbox" class="form-check-input" value="finished" [checked]="productType.value === 'finished'"  (change)="onCheckboxChange('finished', $event)" id="prod-finished" />
                            <label class="ml-1 block text-sm text-gray-700" for="prod-finished">Finished</label>
                            <input type="checkbox" class="form-check-input" value="estimated" [checked]="productType.value === 'estimated'"  (change)="onCheckboxChange('estimated', $event)" id="prod-estimated" />
                            <label class="ml-1 block text-sm text-gray-700" for="prod-estimated">Estimated</label>
                        </div>
                        <div class="form-check px-3 py-2">
                            <p class="text-sm text-gray-700 font-medium mb-1 ml--1">Status</p>
                            <input type="checkbox" class="form-check-input" value="active" [checked]="status.value === 'active'"  (change)="onCheckboxChange('active', $event)" id="status-active" />
                            <label class="ml-1 block text-sm text-gray-700" for="status-active">Active</label>
                            <input type="checkbox" class="form-check-input" value="inactive" [checked]="status.value === 'inactive'"  (change)="onCheckboxChange('inactive', $event)" id="status-inactive" />
                            <label class="ml-1 block text-sm text-gray-700" for="status-inactive">Inactive</label>
                        </div>
                        <div class="py-2 px-3">
                            <button class="btn btn-primary text-sm" (click)="getProducts(true, false); prodfilter.close()" >Apply</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-table w-full table-responsive p-2">
            <table *ngIf="displayData?.length > 0" class="w-full text-left table-auto min-w-max overflow-auto">
                <thead>
                    <tr>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Product Name
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Alias Name
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Barcode
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            Product Type
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                            MRP
                        </th>
                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                        Status
                        </th>
                        <th class="py-3 px-5 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let display of displayData">
                    <td class="py-2 px-2 border-b border-slate-200">
                        <div class="flex flex-col">
                            <p class="text-sm font-semibold text-slate-700">
                                {{display.productName}}
                            </p>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <p class="text-xs text-slate-500">
                            {{display.aliasName}}
                        </p>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <p class="text-xs text-slate-500">
                            {{display.barcode}}
                        </p>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <div class="w-max">
                            <div *ngIf="display.productType == 'finished'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-violet-700 uppercase rounded-md select-none whitespace-nowrap bg-violet-500/20">
                                <span class="">finished</span>
                            </div>
                            <div *ngIf="display.productType == 'estimated'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-amber-700 uppercase rounded-md select-none whitespace-nowrap bg-amber-500/20">
                                <span class="">estimated</span>
                            </div>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <p class="text-xs text-slate-500">
                            ₹ &nbsp;{{display.mrp}}
                        </p>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <div class="w-max">
                            <div *ngIf="display.status == 'active'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-green-700 uppercase rounded-md select-none whitespace-nowrap bg-green-500/20">
                                <span class="">active</span>
                            </div>
                            <div *ngIf="display.status == 'inactive'" class="relative grid items-center px-2 py-1 font-sans text-xs font-bold text-red-700 uppercase rounded-md select-none whitespace-nowrap bg-red-500/20">
                                <span class="">inactive</span>
                            </div>
                        </div>
                    </td>
                    <td class="py-2 px-2 border-b border-slate-200">
                        <a *ngIf="role == 'admin' || role == 'superadmin'" (click)="openEditModal(display)" class="text-blue-700 text-xs font-semibold">Edit</a>
                        <a *ngIf="role == 'admin' || role == 'superadmin'" (click)="openDeleteModal(display)" class="ml-2.5 text-red-700 text-xs font-semibold">Delete</a>
                        <a (click)="openViewModal(display)" class="ml-2.5 text-blue-700 text-xs font-semibold">View</a>
                    </td>
                    </tr>
                </tbody>
                </table>

            <div *ngIf="displayData?.length == 0" class="not-found w-full h-full">
                <div class="container flex items-center px-6 py-12 mx-auto">
                    <div class="flex flex-col items-center max-w-sm mx-auto text-center">
                        <h1 class="mt-3 text-xl font-semibold text-gray-800 md:text-3xl">No Products data found</h1>
                        <p class="mt-4 text-gray-500 dark:text-gray-400">The filters or search applied could not find any data.</p>
            
                        <div class="flex items-center justify-content-center w-full mt-6 gap-x-3 shrink-0 sm:w-auto">
                            <button (click)="getProducts(true, true)" class=" px-5 py-2 text-sm tracking-wide text-white transition-colors duration-200 bg-blue-500 rounded-lg shrink-0 sm:w-auto hover:bg-blue-600 dark:hover:bg-blue-500 dark:bg-blue-600">
                                Remove Filters
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="body-footer w-full">
            <ngb-pagination class="flex flex-center paginator" *ngIf="displayData?.length != 0" [(page)]="page" [pageSize]="limit"
                [collectionSize]="collectionSize" (pageChange)="getProducts(false, false)"/>
        </div>
    </div>
</div>

<div class="modal fade" id="addProductModal" tabindex="-1" aria-labelledby="addProductModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Add Product</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('addProductModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="productName" class="block text-sm font-medium text-neutral-600">Enter Product Name
                            </label>
                            <div class="mt-1">
                                <input id="productName" formControlName="productName" placeholder="Product Name" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="aliasName" class="block text-sm font-medium text-neutral-600">Enter Alias Name
                            </label>
                            <div class="mt-1">
                                <input id="aliasName" formControlName="aliasName" placeholder="Alias Name" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="barcode" class="block text-sm font-medium text-neutral-600">Enter Barcode
                            </label>
                            <div class="mt-1">
                                <input id="barcode" formControlName="barcode" placeholder="Barcode" class="block w-full text-sm px-4  py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="mrp" class="block text-sm font-medium text-neutral-600">Enter MRP
                            </label>
                            <div class="mt-1">
                                <input id="mrp" formControlName="mrp" type="number" placeholder="MRP" (change)="calcDiscount()" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="sellingPrice" class="block text-sm font-medium text-neutral-600">Enter Selling Rate
                            </label>
                            <div class="mt-1">
                                <input id="sellingPrice" formControlName="sellingPrice" type="number" placeholder="Selling Rate" (change)="calcDiscount()" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="discount" class="block text-sm font-medium text-neutral-600">Enter Discount %
                            </label>
                            <div class="mt-1">
                                <input id="discount" formControlName="discount" placeholder="Discount %" type="number" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="wholeSalePrice" class="block text-sm font-medium text-neutral-600">Enter Cost Price
                            </label>
                            <div class="mt-1">
                                <input id="wholeSalePrice" formControlName="wholeSalePrice" type="number" placeholder="Cost Price" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="gst" class="block text-sm font-medium text-neutral-600">Enter GST %
                            </label>
                            <div class="mt-1">
                                <input id="gst" formControlName="gst" type="number" placeholder="GST %" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="hsnCode" class="block text-sm font-medium text-neutral-600">Enter HSNCode
                            </label>
                            <div class="mt-1">
                                <input id="hsnCode" formControlName="hsnCode" placeholder="HSNCode" class="block w-full px-4 py-1 text-sm text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap3 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="productType" class="block text-sm font-medium text-neutral-600">Enter Product Type
                            </label>
                            <div class="mt-1">
                                <select id="productType" formControlName="productType" placeholder="Product Type" class="block w-full text-sm px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                    <option class="form-check-label block px-4 py-3 text-sm text-gray-700" value="finished">Finished</option>
                                    <option class="form-check-label block px-4 py-3 text-sm text-gray-700" value="estimated">Estimated</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-wrap w-100">
                            <label for="status" class="block text-sm font-medium text-neutral-600">Enter Status
                            </label>
                            <div class="mt-1">
                                <select id="status" formControlName="status" placeholder="Status" class="block w-full text-sm px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                    <option class="form-check-label block px-4 py-2 text-sm text-gray-700" value="active">Active</option>
                                    <option class="form-check-label block px-4 py-2 text-sm text-gray-700" value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex flex-end">
                <div class="btn btn-success primary-button" [class.disabled]="productForm.invalid" (click)="addProduct()">
                    Add Product
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editProductModal" tabindex="-1" aria-labelledby="editProductModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Edit Product</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('editProductModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="productName" class="block text-sm font-medium text-neutral-600">Enter Product Name
                            </label>
                            <div class="mt-1">
                                <input id="productName" formControlName="productName" placeholder="Product Name" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="aliasName" class="block text-sm font-medium text-neutral-600">Enter Alias Name
                            </label>
                            <div class="mt-1">
                                <input id="aliasName" formControlName="aliasName" placeholder="Alias Name" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="barcode" class="block text-sm font-medium text-neutral-600">Enter Barcode
                            </label>
                            <div class="mt-1">
                                <input id="barcode" formControlName="barcode" placeholder="Barcode" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="mrp" class="block text-sm font-medium text-neutral-600">Enter MRP
                            </label>
                            <div class="mt-1">
                                <input id="mrp" formControlName="mrp" type="number" placeholder="MRP" (change)="calcDiscount()" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="sellingPrice" class="block text-sm font-medium text-neutral-600">Enter Selling Rate
                            </label>
                            <div class="mt-1">
                                <input id="sellingPrice" formControlName="sellingPrice" type="number" placeholder="Selling Rate" (change)="calcDiscount()" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="discount" class="block text-sm font-medium text-neutral-600">Enter Discount %
                            </label>
                            <div class="mt-1">
                                <input id="discount" formControlName="discount" placeholder="Discount %" type="number" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="wholeSalePrice" class="block text-sm font-medium text-neutral-600">Enter Wholesale Price
                            </label>
                            <div class="mt-1">
                                <input id="wholeSalePrice" formControlName="wholeSalePrice" type="number" placeholder="Wholesale Price" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="gst" class="block text-sm font-medium text-neutral-600">Enter GST %
                            </label>
                            <div class="mt-1">
                                <input id="gst" formControlName="gst" type="number" placeholder="GST %" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="hsnCode" class="block text-sm font-medium text-neutral-600">Enter HSNCode
                            </label>
                            <div class="mt-1">
                                <input id="hsnCode" formControlName="hsnCode" placeholder="HSNCode" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap3 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="productType" class="block text-sm font-medium text-neutral-600">Enter Product Type
                            </label>
                            <div class="mt-1">
                                <select id="productType" formControlName="productType" placeholder="Product Type" class="block w-full px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                    <option class="form-check-label block px-4 py-3 text-sm text-gray-700" value="finished">Finished</option>
                                    <option class="form-check-label block px-4 py-3 text-sm text-gray-700" value="estimated">Estimated</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-wrap w-100">
                            <label for="status" class="block text-sm font-medium text-neutral-600">Enter Status
                            </label>
                            <div class="mt-1">
                                <select id="status" formControlName="status" placeholder="status" class="block w-full px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                    <option class="form-check-label block px-4 py-2 text-sm text-gray-700" value="active">Active</option>
                                    <option class="form-check-label block px-4 py-2 text-sm text-gray-700" value="inactive">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex flex-end">
                <div class="btn btn-success primary-button" [class.disabled]="productForm.invalid" (click)="editProduct()">
                    Edit Product
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="viewProductModal" tabindex="-1" aria-labelledby="viewProductModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>View Product</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('viewProductModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <form [formGroup]="productForm">
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="productName" class="block text-sm font-medium text-neutral-600">Product Name
                            </label>
                            <div class="mt-1">
                                <input id="productName" readonly formControlName="productName" placeholder="Product Name" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="aliasName"  class="block text-sm font-medium text-neutral-600">Alias Name
                            </label>
                            <div class="mt-1">
                                <input id="aliasName" readonly formControlName="aliasName" placeholder="Alias Name" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="barcode" class="block text-sm font-medium text-neutral-600">Barcode
                            </label>
                            <div class="mt-1">
                                <input id="barcode" readonly formControlName="barcode" placeholder="Barcode" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="mrp" class="block text-sm font-medium text-neutral-600">MRP
                            </label>
                            <div class="mt-1">
                                <input id="mrp" readonly formControlName="mrp" type="number" placeholder="MRP" (change)="calcDiscount()" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="sellingPrice" class="block text-sm font-medium text-neutral-600">Selling Rate
                            </label>
                            <div class="mt-1">
                                <input id="sellingPrice" readonly formControlName="sellingPrice" type="number" placeholder="Selling Rate" (change)="calcDiscount()" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="discount" class="block text-sm font-medium text-neutral-600">Discount %
                            </label>
                            <div class="mt-1">
                                <input id="discount" readonly formControlName="discount" placeholder="Discount %" type="number" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="wholeSalePrice" class="block text-sm font-medium text-neutral-600">Wholesale Price
                            </label>
                            <div class="mt-1">
                                <input id="wholeSalePrice" readonly formControlName="wholeSalePrice" type="number" placeholder="Wholesale Price" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="gst" class="block text-sm font-medium text-neutral-600">GST %
                            </label>
                            <div class="mt-1">
                                <input id="gst" readonly formControlName="gst" type="number" placeholder="GST %" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="hsnCode" class="block text-sm font-medium text-neutral-600">HSNCode
                            </label>
                            <div class="mt-1">
                                <input id="hsnCode" readonly formControlName="hsnCode" placeholder="HSNCode" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap3 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="productType" class="block text-sm font-medium text-neutral-600">Product Type
                            </label>
                            <div class="mt-1">
                                <input id="productType" readonly formControlName="productType" placeholder="Product Type" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                </div>
                            </div>
                            <div class="form-wrap w-100">
                                <label for="status" class="block text-sm font-medium text-neutral-600">Status
                                </label>
                                <div class="mt-1">
                                    <input id="status" readonly formControlName="status" placeholder="status" class="block w-full px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteProductModal" tabindex="-1" aria-labelledby="deleteProductModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Delete Item</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('deleteProductModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete product?</h5>
            </div>
            <div class="modal-footer d-flex flex-end">
                <button class="btn btn-primary primary-button" (click)="deleteProduct()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>