.body-content{
    padding: 20px 40px;
}

h2{
    font-weight: 500;
}

.body-head{
    height: 7.5%;
}

.body-stats{
    height: 7.5%;
    background: rgba(16,126,255,1);
    border-radius: 10px;
    overflow: hidden; 
}

.body-options{
    height: 7.5%;
}

.body-table{
    height: 70%;
    padding: 0;
}

.body-footer{
    height: 7.5%;
}

.btn-wrap2{
    height: 100%;
    padding: 10px;
}

.btn-white{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.form-check{
    padding: 0.5rem 1rem 0.5rem 2rem !important;
}

.ml-1{
    margin-left: 0.5rem;
}

.ml--1{
    margin-left: -1rem;
}

@keyframes scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  .animate-scroll {
    animation: scroll 20s linear infinite;
    width: max-content;
  }

input, select{
    font-size: 0.8rem;
}

label{
    font-size: 0.75rem;
}
