<div class="flex-center" [style.display]="state.value === 'inactive' ? 'none' : ''">
    <div class="flex-center wrap">
      <div *ngIf="message && !options.enableHtml && message == 'success'" role="alert"
        [class]="options.messageClass" [attr.aria-label]="message">
        <img src="../../assets/img/icons/done.svg" alt="">
      </div>
      <div *ngIf="message && !options.enableHtml && message == 'error'" role="alert"
        [class]="options.messageClass" [attr.aria-label]="message">
        <img src="../../assets/img/icons/error.svg" alt="">
      </div>
      <div *ngIf="title" [class]="options.titleClass" class="titleClass mt-1" [attr.aria-label]="title">
        {{ title }}
      </div>
    </div>
  </div>