:host {
    background-color: #FFFFFF;
    position: relative;
    overflow: hidden;
    padding: 5px 10px 5px 10px !important;
    width: fit-content !important;
    height: fit-content !important;
    border-radius: 3px 3px 3px 3px;
    color: #111111 !important;
    pointer-events: all;
    cursor: pointer;
    white-space: nowrap;
    // display: flex !important;
    // justify-content: center !important;
    // align-items: center !important;
  }

  .wrap{
    display: flex;
    gap: 10px;
  }

  .titleClass{
    width: fit-content !important;
    font-weight: 500!important;
    font-size: 14px;
  }
  
  img{
    width: 20px;
    height: 20px;
  }

  .height{
    height: 100%;
  }

  .ngx-toastr{
    
  }
