<div class="loader flex-col gap1-5" *ngIf="loading">
    <div class="cube-loader">
        <div class="cube cube1"></div>
        <div class="cube cube2"></div>
        <div class="cube cube3"></div>
        <div class="cube cube4"></div>
    </div>
</div>

<section>
    <div class="flex min-h-screen overflow-hidden">
        <div class="flex flex-col justify-evenly flex-1 px-12 py-12 sm:px-6 xl:flex-none lg:px-20 xl:px-24 mob-view">
            <img src="../../../assets/img/company/logo-main.png" alt="">
            <div class="w-full max-w-xl mx-auto lg:w-96 bg-white px-8 py-24 rounded-lg form-wrap">
                <div>
                    <h1 class="text-l mb-1 logo-subtext">Welcome to</h1>
                    <h1 class="text-2xl logo-text">Chinki Saathi</h1>
                </div>
                <div>
                    <div class="mt-6">
                        <form [formGroup]="loginForm" class="space-y-6">
                            <div>
                                <label for="userName" class="block text-sm font-medium text-neutral-600">UserName
                                </label>
                                <div class="mt-1">
                                    <input id="userName" formControlName="userName" type="userName" autocomplete="userName"  placeholder="Your Username" class="block w-full px-4 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                </div>
                                <div class="mt-1" *ngIf="loginForm.controls['userName'].errors && (loginForm.controls['userName'].dirty || loginForm.controls['userName'].touched)">
                                    <small style="color: red;">User name is required</small>
                                </div>
                            </div>
                            <div class="space-y-1">
                                <label for="password" class="block text-sm font-medium text-neutral-600">Password</label>
                                <div class="mt-1">
                                    <input id="password" formControlName="password" type="password" autocomplete="current-password" placeholder="Your Password" class="block w-full px-4 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                </div>
                                <div class="mt-1" *ngIf="loginForm.controls['password'].errors && (loginForm.controls['password'].dirty || loginForm.controls['password'].touched)">
                                    <small style="color: red;">Password should be 8 characters</small>
                                </div>
                            </div>
                            <div>
                                <button type="submit" (click)="submit()" (keydown.enter)="submit()" [class.disabled]="loginForm.invalid" class="flex items-center justify-center w-full px-10 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-blue-500 rounded-xl hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative flex-1 hidden w-0 overflow-hidden xl:block">
            <img class="absolute inset-0 object-cover w-full h-full" src="../../../assets/img/company/logo-w-bg-login.png" alt="">
        </div>
    </div>
</section>
