<div class="loader flex-col gap1-5" *ngIf="loading">
    <div class="cube-loader">
        <div class="cube cube1"></div>
        <div class="cube cube2"></div>
        <div class="cube cube3"></div>
        <div class="cube cube4"></div>
    </div>
    <h3>Loading</h3>
</div>

<div class="main-body flex-start">
    <div class="body-content flex flex-col gap1-5">
        <div class="bill-head flex-center flex-space-between">
            <div class="invoice-switcher flex-start gap3">
                <div class="invoice-btn flex-center" (click)="invoiceSwitcher('A')" [class.invoiceActive]="currentActiveInvoice == 'A'">
                    <p>Invoice 1</p>
                </div>
                <div class="invoice-btn flex-center" (click)="invoiceSwitcher('B')" [class.invoiceActive]="currentActiveInvoice == 'B'">
                    <p>Invoice 2</p>
                </div>
                <div class="invoice-btn flex-center" (click)="invoiceSwitcher('C')" [class.invoiceActive]="currentActiveInvoice == 'C'">
                    <p>Invoice 3</p>
                </div>
            </div>
            <div class="invoice-total flex-end gap1-5">
                <button class="rounded-md bg-green-600 px-4 py-1.5 text-sm font-semibold text-white shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-green-600"  (click)="saveBill()" >Save</button>
                <div class="total-amount flex-center flex-space-between">
                    <h1>₹</h1>
                    <h1>{{currentActiveInvoiceData.totalAmount}}</h1>
                </div>
            </div>
        </div>
        <div class="body-menu">
            <form style="height: 100%; width: 100%;" [formGroup]="userForm">
                <div class="body-menu-container flex-center gap1">
                    <div class="col-wrap flex-center flex-col gap1">
                        <div class="row-wrap flex-center gap1">
                            <label class="flex-center flex-start" for="invoiceNumber">Inventory</label>
                            <input formControlName="inventoryName" id="invoiceNumber" readonly>
                        </div>
                        <div class="row-wrap flex-center gap1">
                            <label class="flex-center flex-start" for="invoiceNumber">Invoice No.</label>
                            <input formControlName="invoiceNumber" id="invoiceNumber" readonly>
                        </div>
                        <div class="row-wrap flex-center gap1">
                            <div class="flex-center bill-btn bg-cyan-500" (click)="openModal('bill-searchAddUserModal')">Search User</div>
                            <div class="flex-center bill-btn delete-bill bg-rose-600" (click)="openModal('bill-clearModal')">Clear bill</div>
                        </div>
                       
                    </div>
                    <div class="col-wrap flex-center flex-col gap1">
                        <div class="row-wrap flex-center gap1">
                            <label class="flex-center flex-start" for="userName">Name</label>
                            <input id="userName" formControlName="name" readonly>
                        </div>
                        <div class="row-wrap flex-center gap1">
                            <label class="flex-center flex-start" for="phnNumber">Mobile No.</label>
                            <input id="phnNumber" formControlName="phnNumber" readonly>
                        </div>
                        <div class="row-wrap flex-center gap1">
                            <label class="flex-center flex-start" for="address">Address</label>
                            <input id="address" formControlName="address" readonly>
                        </div>
                    </div>
                    <div class="col-wrap flex-center flex-col gap1">
                        <div class="row-wrap flex-center gap1">
                            <div class="flex-center flex-center bill-btn bg-indigo-500"  (click)="openModal('rewardsModal')">Reward Points</div>
                            <input id="rewardPoints" formControlName="rewardPoints" readonly>
                        </div>
                        <div class="row-wrap flex-center gap1">
                            <div class="flex-center bill-btn  bg-orange-500" (click)="openModal('offersModal')">Check offers</div>
                            <div style="height: 100%; width: 60%;" class="flex-center">
                                <select (change)="customerTypeChanged() "
                                name="customer-type"
                                id="customer-type"
                                class="select-input"
                                formControlName="customerType" 
                            >
                                <option value="">Customer Type</option>
                                <option value="new">New Customer</option>
                                <option value="existing">Existing Customer</option>
                            </select>
                            </div>
                        </div>
                        <div class="row-wrapp flex-center gap1">
                            
                            <div style="height: 100%; width: 100%;" class="flex-center gap2">
                                <div style="margin-bottom: 0;" class="form-check flex-center gap1-5">
                                    <input class="form-check-input" type="radio" formControlName="paymentType" value="cash" id="cash" (click)="paymentType()">
                                    <label class="form-check-label" for="cash">
                                        Cash
                                    </label>
                                </div>
                                <div style="margin-bottom: 0;" class="form-check flex-center gap1-5">
                                    <input class="form-check-input" type="radio" formControlName="paymentType" value="upi" id="upi" (click)="paymentType()">
                                    <label class="form-check-label" for="upi">
                                        UPI
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="bill-search flex flex-center flex-space-between">
            <div class="btn-wrap flex flex-center gap2" style="height: 100%; width: 100%;">            
                <div class="absolute w-64 combobox-container overflow-visible">
                    <!-- Input Box -->
                    <input 
                      type="text"
                      [(ngModel)]="searchTerm"
                      (click)="toggleDropdown()"
                      placeholder="Search Products"
                      (keydown)="onKeydown($event)"
                      class="w-full px-3 py-1.5 text-sm placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ng-untouched ng-pristine ng-invalid"
                    />
                  
                    <!-- Dropdown -->
                    <ul
                        *ngIf="dropdownOpen && filteredProduct.length"
                        class="absolute w-full bg-white border border-gray-300 rounded-md mt-1 max-h-40 overflow-y-auto shadow-md z-50"
                        style="top: 100%; left: 0;"
                        >
                        <li
                            *ngFor="let product of filteredProduct; let i = index"
                            (click)="selectProduct(product.MasterProduct.barcode)"
                            class="px-4 py-1 cursor-pointer hover:bg-blue-100"
                            [ngClass]="{
                            'font-bold text-blue-600': hoverselectedProduct === product.MasterProduct.barcode,
                            'bg-blue-200 selected-item': hoverselectedIndex === i
                            }"
                        >
                            {{ product.MasterProduct.barcode }} - {{ product.MasterProduct.productName }}
                        </li>
                        </ul>
                  </div>
                  
            </div>
            <div class="btn-wrap flex flex-center gap2" style="height: 100%; width: 100%;">            
                <input  id="barcode" #barcode [formControl]="barcodeScan" (change)="scanBarcode()" class="ml-1 block w-100 h-75 px-4 py-2 text-sm placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ng-untouched ng-pristine ng-invalid" ng-reflect-name="phnNumber">
            </div>

            
        </div>
        <div #tablebody class="body-table-bill"> 
            <form [formGroup]="billDataForm">
                <table class="table table-striped table-bordered table-primary chinki-table">
                    <thead>
                        <tr>
                            <th class="deleteRow" scope="col">   </th>
                            <th scope="col">Item Name</th>
                            <th class="smallWidth" scope="col">Quantity</th>
                            <th class="smallWidth" scope="col">MRP</th>
                            <th class="smallWidth" scope="col">Discount %</th>
                            <th class="smallWidth" scope="col">Rate</th>
                            <th class="smallWidth" scope="col">Amount</th>
                            <th class="smallWidth" scope="col">GST %</th>
                            <th class="midWidth" scope="col">GST Amount</th>
                            <th class="midWidth" scope="col">Final Amount</th>
                        </tr>
                    </thead>
                    <tbody formArrayName="rows" [style.max-height]="maxHeight" style="overflow-y: scroll;">
                        <tr *ngFor="let row of rows.controls; let i = index" [formGroupName]="i" [ngClass]="(i % 2 === 0) ? 'chinki-table-even' : 'chinki-table-odd'">
                            <td *ngIf="row.value.productName == '' || row.value.productName == null"></td>
                            <td class="flex flex-center deleteRow" (click)="openItemModal('deleteItemModal', i)" *ngIf="row.value.productName != '' && row.value.productName != null"><img src="../../../../assets/img/icons/delete.svg" class="hover" style="cursor: pointer;" height="18px" width="18px" alt=""></td>
                            <td><input type="text" formControlName="productName"></td>
                            <td><input type="number" min="1" (change)="itemChanged('quantity', i)" *ngIf="row.value.productName != ''" formControlName="quantity"></td>
                            <td><input type="number" (change)="itemChanged('mrp', i)" *ngIf="row.value.productName != ''" formControlName="mrp"></td>
                            <td><input type="number" *ngIf="row.value.productName != ''" formControlName="discount" readonly></td>
                            <td><input type="number" (change)="itemChanged('rate', i)" *ngIf="row.value.productName != ''" formControlName="rate"></td>
                            <td><input type="number" *ngIf="row.value.productName != ''" formControlName="amount" readonly></td>
                            <td><input type="number" *ngIf="row.value.productName != ''" formControlName="gst" readonly></td>
                            <td><input type="number" *ngIf="row.value.productName != ''" formControlName="gstAmount" readonly></td>
                            <td><input type="number" *ngIf="row.value.productName != ''" formControlName="finalAmount" readonly></td>
                        </tr>
                    </tbody>
                    <div style="height: 20px; width: 100%;"></div>
                    <tbody>
                        <tr *ngIf="currentActiveInvoiceData.currentOffer.offerName != ''">
                            <td></td>
                            <td class="bottom-cell">{{currentActiveInvoiceData.currentOffer.offerName}}</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">1</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'"></td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">{{currentActiveInvoiceData.currentOffer.FreeProduct.mrp}}</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'"></td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">100%</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'">{{currentActiveInvoiceData.currentOffer.discountPerc}}</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">0</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'">-</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">0</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'">{{currentActiveInvoiceData.currentOffer.actualDiscountAmount}}</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">18%</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'">-</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">0</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'">-</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'free_product'">0</td>
                            <td class="bottom-cell" *ngIf="currentActiveInvoiceData.currentOffer.offerType == 'flat_discount'">-{{currentActiveInvoiceData.currentOffer.actualDiscountAmount}}</td>
                        </tr>
                        <tr *ngIf="currentActiveInvoiceData.currentOffer.offerName == ''">
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td *ngIf="currentActiveInvoiceData.RedeemPoints == 0"></td>
                            <td class="bottom-cell" style="color: #ef1010; padding-left: 10px;" *ngIf="currentActiveInvoiceData.RedeemPoints > 0">Reward Points Redeemed</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td *ngIf="currentActiveInvoiceData.RedeemPoints == 0"></td>
                            <td class="bottom-cell" style="color: #ef1010; padding-left: 10px;" *ngIf="currentActiveInvoiceData.RedeemPoints > 0">- {{currentActiveInvoiceData.RedeemPoints}}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="bill-searchAddUserModal" tabindex="-1" aria-labelledby="bill-searchAddUserModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Get User Details</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('bill-searchAddUserModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <form [formGroup]="userForm">
                    <label for="userName" class="block text-sm font-medium text-neutral-600">Enter phone number
                    </label>
                    <div class="mt-1">
                        <input id="phnNumber" formControlName="phnNumber" (keydown.enter)="confirmUser()" placeholder="Phone Number" class="block w-full px-4 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                    </div>
                    <div class="mt-1" *ngIf="userForm.get('phnNumber')?.errors && (userForm.get('phnNumber')?.dirty || userForm.get('phnNumber')?.touched)">
                        <small style="color: red;">Phonenumber is invalid</small>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex flex-end">
                <div class="btn btn-primary primary-button" [class.disabled]="userForm.get('phnNumber')?.invalid" (click)="confirmUser()">
                    Search
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bill-addUserModal" tabindex="-1" aria-labelledby="bill-addUserModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Add User</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('bill-addUserModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <form [formGroup]="addUserForm">
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="name" class="block text-sm font-medium text-neutral-600">Enter Name
                            </label>
                            <div class="mt-1">
                                <input id="name" formControlName="name" placeholder="Name" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="phoneNumber" class="block text-sm font-medium text-neutral-600">Enter Phone Number
                            </label>
                            <div class="mt-1">
                                <input id="phoneNumber" formControlName="phoneNumber" placeholder="Phone Number" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="addressLine1" class="block text-sm font-medium text-neutral-600">Enter Address Line 1
                            </label>
                            <div class="mt-1">
                                <input id="addressLine1" formControlName="addressLine1" placeholder="Address Line 1" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="addressLine2" class="block text-sm font-medium text-neutral-600">Enter Address Line 2
                            </label>
                            <div class="mt-1">
                                <input id="addressLine2" formControlName="addressLine2" placeholder="Address Line 2" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap w-100">
                            <label for="addressLine3" class="block text-sm font-medium text-neutral-600">Enter Address Line 3
                            </label>
                            <div class="mt-1">
                                <input id="addressLine3" formControlName="addressLine3" placeholder="Address Line 3" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                        <div class="form-wrap">
                            <label for="city" class="block text-sm font-medium text-neutral-600">Enter City
                            </label>
                            <div class="mt-1">
                                <input id="city" formControlName="city" placeholder="City" class="block w-full text-sm px-4 py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap">
                            <label for="state" class="block text-sm font-medium text-neutral-600">Enter State
                            </label>
                            <div class="mt-1">
                                <input id="state" formControlName="state" placeholder="State" class="block w-full text-sm px-4  py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                    </div>
                    <div class="form-row flex-center flex-space-between gap3 margin-top p-2">
                        <div class="form-wrap">
                            <label for="pincode" class="block text-sm font-medium text-neutral-600">Enter PinCode
                            </label>
                            <div class="mt-1">
                                <input id="pincode" formControlName="pincode" placeholder="PinCode" type="number" class="block w-full text-sm px-4  py-1 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                            </div>
                        </div>
                        <div class="form-wrap w-100">
                            <label for="customerType" class="block text-sm font-medium text-neutral-600">Select Customer Type
                            </label>
                            <div class="mt-1">
                                <select id="customerType" formControlName="customerType" placeholder="Customer Type" class="block w-full text-sm px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                    <option class="form-check-label block px-4 py-2 text-sm text-gray-700" value="new">New</option>
                                    <option class="form-check-label block px-4 py-2 text-sm text-gray-700" value="existing">Existing</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer d-flex flex-end">
                <div class="btn btn-success primary-button" [class.disabled]="addUserForm.invalid" (click)="addUser()">
                    Add User
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="rewardsModal" tabindex="-1" aria-labelledby="rewardsModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Chinki Reward Points</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('rewardsModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <div class="tab-switcher">
                    <button [class.applied]="currentRewardsTab == 'Redeem'" (click)="rewardsTabSwticher('Redeem')">Redeem</button>
                    <button [class.applied]="currentRewardsTab == 'History'" (click)="rewardsTabSwticher('History')">History</button>
                </div>
                <div class="tabs">
                    <div *ngIf="currentRewardsTab == 'Redeem'">
                        <label for="rewardpoints" class="block text-sm font-medium text-neutral-600">Enter number of points to redeem
                        </label>
                        <div class="mt-1">
                            <input type="number" [max]="this.currentActiveInvoiceData.RewardPoints" min="0" id="rewardpoints" [formControl]="redeemPoints" placeholder="Enter points to redeem" class="block w-full px-4 py-3 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                        </div>
                        <div *ngIf="this.currentActiveInvoiceData.RewardPoints > 0" class="mt-3 flex flex-start gap1-5">
                            <button class="redeem" [disabled]="confirmRedeemFlag" [class.applied]="this.redeemPoints.value == 5" *ngIf="this.currentActiveInvoiceData.RewardPoints > 5"  (click)="setReedemValue(5)">5</button>
                            <button class="redeem" [disabled]="confirmRedeemFlag" [class.applied]="this.redeemPoints.value == 10" *ngIf="this.currentActiveInvoiceData.RewardPoints > 10" (click)="setReedemValue(10)">10</button>
                            <button class="redeem" [disabled]="confirmRedeemFlag" [class.applied]="this.redeemPoints.value == this.currentActiveInvoiceData.RewardPoints" *ngIf="this.currentActiveInvoiceData.RewardPoints > 10" (click)="setReedemValue(this.currentActiveInvoiceData.RewardPoints)">{{this.currentActiveInvoiceData.RewardPoints}}</button>
                        </div>
                    </div>
                    <div *ngIf="currentRewardsTab == 'History'" class="history">
                        <div class="mt-2 w-full table-responsive">
                            <table *ngIf="rewardsData?.length > 0" class="w-full text-left table-auto min-w-max overflow-auto">
                                <thead>
                                    <tr>
                                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                                            Bill Number
                                        </th>
                                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                                            Reward Points Used
                                        </th>
                                        <th class="py-3 px-2 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 font-sans text-sm font-normal leading-none text-slate-700">
                                            Created At
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let display of rewardsData">
                                    <td class="py-2 px-2 border-b border-slate-200">
                                        <div class="flex flex-col">
                                            <p class="text-sm font-semibold text-slate-700">
                                                {{display.billID}}
                                            </p>
                                        </div>
                                    </td>
                                    <td class="py-2 px-2 border-b border-slate-200">
                                        <p class="text-xs text-slate-500">
                                            {{display.pointsAmount}}
                                        </p>
                                    </td>
                                    <td class="py-2 px-2 border-b border-slate-200">
                                        <p class="text-xs text-slate-500">
                                            {{display.createdAt | date: 'mediumDate'}}
                                        </p>
                                    </td>
                                    </tr>
                                </tbody>
                                </table>
                
                            <div *ngIf="rewardsData?.length == 0" class="not-found w-full h-full">
                                <div class="container flex items-center px-6 py-12 mx-auto">
                                    <div class="flex flex-col items-center max-w-sm mx-auto text-center">
                                        <h2 class="mt-3 text-xl font-semibold text-gray-800 md:text-md">No Rewards History found</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex flex-end">
                <button *ngIf="confirmRedeemFlag && currentRewardsTab == 'Redeem'" class="btn btn-warning primary-button" style="color: white;" (click)="editReedemCode()">
                    Change
                </button>
                <button *ngIf="currentRewardsTab == 'Redeem'" [disabled]="confirmRedeemFlag" class="btn btn-primary primary-button" (click)="applyReedemCode()">
                    Confirm
                </button>
                <button *ngIf="currentRewardsTab == 'History'"  class="btn btn-primary primary-button" (click)="closeModal('rewardsModal')">
                    Close
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="offersModal" tabindex="-1" aria-labelledby="offersModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Chinki Offers</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('offersModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <div class="form-rw">
                    <div class="form-wrap">
                        <label for="couponSearch" class="block text-sm font-medium text-neutral-600">Enter Coupon Code
                        </label>
                        <div class="mt-1 flex">
                            <input id="couponSearch" [formControl]="couponSearch" (keydown.enter)="applyCoupon()" placeholder="Coupon Code" class="block w-full text-sm px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300">
                            <button class="btn btn-primary text-xs" [disabled]="couponSearch.value == ''" (click)="applyCoupon()">Apply</button>
                        </div>
                    </div>
                </div>
                @for(offer of offers; track offer){
                    <div *ngIf="checkOfferLocation(offer)" class="offer-wrap flex flex-center flex-space-between">
                        <h5>{{offer.offerName}}</h5>
                        <button *ngIf="offer.offerID != selectedOffer?.offerID" [disabled]="offer.minOrderValue > currentActiveInvoiceData.totalAmount" (click)="offerApplied(offer, false)">Apply</button>
                        <button class="applied" *ngIf="offer.offerID == selectedOffer?.offerID" (click)="offerUnApply()">Applied</button>
                    </div>
                }
            </div>
            <div class="modal-footer d-flex flex-end">
                <div class="btn btn-primary primary-button" (click)="closeModal('offersModal')">
                    Confirm
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bill-clearModal" tabindex="-1" aria-labelledby="bill-clearModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Clear Bill</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('bill-clearModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to clear bill?</h5>
            </div>
            <div class="modal-footer d-flex flex-end">
                <button class="btn btn-primary primary-button" (click)="clearBill()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteItemModal" tabindex="-1" aria-labelledby="deleteItemModal" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Delete Item</h1>
                <img src="../../../../assets/img/icons/cross.svg" (click)="closeModal('deleteItemModal')" class="cross-btn" height="15px" width="15px" alt="">
            </div>
            <div class="modal-body">
                <h5>Are you sure you want to delete item?</h5>
            </div>
            <div class="modal-footer d-flex flex-end">
                <button class="btn btn-primary primary-button" (click)="removeItem(deleteIndex)">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="selectInventoryBill" tabindex="-1" aria-labelledby="selectInventoryBill" aria-hidden="true">
    <div class="modal-dialog dialog700 modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header d-flex align-items-center flex-space-between">
                <h1>Select the Inventory</h1>
            </div>
            <div class="modal-body">
                <div class="form-row flex-center flex-space-between gap1-5 margin-top p-2">
                    <div class="form-wrap w-100">
                        <label for="inventory" class="block text-sm font-medium text-neutral-600">Inventory
                        </label>
                        <div class="mt-1">
                            <select id="inventory" [formControl]="inventorySelected" placeholder="Inventory" class="block w-full text-sm px-4 py-2 text-base placeholder-gray-300 transition duration-500 ease-in-out transform border border-transparent rounded-lg text-neutral-600 bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300 ">
                                <option *ngFor="let inventory of inventoryName" class="form-check-label block px-4 py-3 text-sm text-gray-700" [ngValue]="inventory?.inventoryID">{{inventory?.inventoryName}}</option>
                            </select>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="modal-footer d-flex flex-end">
                <button class="btn btn-success primary-button" [disabled]="this.inventorySelected.value==''" (click)="confirmInventory()">
                    Confirm
                </button>
            </div>
        </div>
    </div>
</div>


<div style="display: none;" id="bill-content">
    <h3>Retail Invoice</h3>
    <h3>|| Shree Ganeshay Namah ||</h3>
    <h2 style="text-align: center;">Shree Charbhuja Sales and Marketing</h2>
    <p>SHOP NO.10, LANE BESIDE MAHALAXMI SEETS,<br> MAIN SABJI MARKET, VAPI TOWN, VAPI <br> Mob: 9316432399 / 8758195335</p>
    <p><strong>GST NO. 24ATWPP3297M1ZN</strong></p>
    <p><strong>Shop timings: 8.00am to 8.00pm</strong></p>
    <p><strong>Last Sunday Closed</strong></p>
    <table>
      <thead>
        <tr>
          <th>Description</th>
          <th>MRP</th>
          <th>Qty</th>
          <th>Rate</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of currentActiveInvoiceData.BillDetails">
          <td>{{item.productName}}</td>
          <td>{{item.mrp}}</td>
          <td>{{item.quantity}}</td>
          <td>{{item.rate}}</td>
          <td>{{item.finalAmount}}</td>
        </tr>
      </tbody>
    </table>
    <p>Total: {{currentActiveInvoiceData.totalAmount}}</p>
  </div>