.body-content{
    padding: 20px 40px;
}

h2{
    font-weight: 500;
}


button[type="submit"] {
    background-color: #007bff !important; /* Set your primary color */
    color: white !important; /* Ensure text is visible */
    border: none !important;
  }
